<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>votes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCEED4BB1C9B4AB000B4CA38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEED4D21C9B4AB000B4CA38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCEED4DD1C9B4AB000B4CA38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
